beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
idna==3.10
joblib==1.4.2
nltk==3.9.1
PySocks==1.7.1
regex==2024.11.6
requests==2.32.3
soupsieve==2.6
termcolor==2.5.0
textblob==0.18.0.post0
tqdm==4.67.1
urllib3==2.2.3
